/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #FFF;
    font-size: 1em;
    line-height: 1.4;
}

html, body { height: 100%; padding: 0; margin: 0; }

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/**
 * ----------------------------------------------------------------------------
 * Our style
 * ----------------------------------------------------------------------------
 */

.container {
  height: 100%;
  /*display: flex;*/
}

section {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  height: 50%;
  width: 100%;
}

.column {
  margin: 0px;
  padding: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  background: #062926;
  font-family: 'national-bold', sans-serif;
  font-size: 50px;
}

section:first-of-type .column:first-of-type {
  background: #333;
}

section:first-of-type .column:nth-of-type(2) {
  background: #666;
}

section:nth-of-type(2) .column:nth-of-type(1) {
  background: #999;
}

section:nth-of-type(2) .column:nth-of-type(2) {
  background: #000;
}

/*section:first-of-type .column:first-of-type {*/
  /*flex-grow: 2;*/
  /*flex-shrink: 2;*/
  /*flex-basis: 0;*/
/*}*/



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/**
 * ----------------------------------------------------------------------------
 * Font faces
 * ---------------------------------------------------------------------------
 */
@font-face {
  font-family: 'national-bold';
  src: url('../fonts-private/National-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'national-medium';
  src: url('../fonts-private/nationalmedium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'national-book';
  src: url('../fonts-private/National-Book.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'national-thin';
  src: url('../fonts-private/National-Thin.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'national-thin-ital';
  src: url('../fonts-private/National-ThinItalic.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'national-semibold-ital';
  src: url('../fonts-private/National-SemiboldItalic.otf');
  font-weight: normal;
  font-style: normal;
}

